<nav class="nav-masthead fixed-top">
  <div class="row">
      <div class="col-lg-1 col-xl-1"
      <a href="https://bottega.tech/"> <%= image_tag('Devcamp_logo.png', class: "devcamp-logo")%>
      </a>
      </div>
      <div class="col-lg-11 col-xl-11 nav-links">
        <span class="indiv-nav-links"><%= link_to "Home", root_path %></span>
        <% if logged_in?(:admin) %>
          <span class="indiv-nav-links"><%= link_to 'Admin', admin_path %></span>
        <% end %>
        <span class="indiv-nav-links"><%= link_to 'Dashboard', dashboard_path %></span>
        <%= render "shared/devise_links" %>
      </div>
  </div>
</nav>