<div class="row">
  <% favorites.each do |favorite| %>
    <div class="card card-custom">
      <div class="row">

        <div class="col-3">
          <div class="thumb-image-trim">
            <%= image_tag favorite.event.main_image, class: "thumb-image" %>    
          </div>        
        </div>

        <div class="col-7 content-center">
          <h3><%= link_to truncate(favorite.event.title.titleize, length: 25), favorite.event, class: "card-heading" %></h3>
          <hr>
          <span style="color: #3AE39F">When: &nbsp;&nbsp;</span><%= favorite.event.start.strftime("%A, %B %Y") %> 
          <br>
          <span style="color: #3AE39F">Where: &nbsp;</span><%= favorite.event.location %>
        </div>

        <div class="col-2">
          <%= render partial: 'shared/buttons', locals: {event: favorite.event} %>
        </div>

      </div> <!-- Row -->
    </div> <!-- Card -->
  <% end %>
</div>