<%= form_with(model: event, local: true) do |form| %>

  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <div class="form-fields">
      Title of your event:
      <div><%= form.text_field :title, id: :event_title, size: "25x1", placeholder: "Event title here", class: "form-text" %></div>
    </div>

    <div class="form-fields">
      Please describe your event:
      <div><%= form.text_area :body, id: :event_body, size: "25x3", placeholder: "An event for ...", class: "form-text" %></div>
    </div>

    <div class="form-fields">
      Where and when is your event taking place?:
      <div><%= form.text_area :location, id: :event_location, placeholder: "Full address, floor number, time of day, etc..", size: "25x3", class: "form-text"%></div>
    </div>

     <div class="form-fields">
      Date of the event.
      <div><%= form.date_field :date, id: :event_date %></div>
    </div>

    <div class="form-fields">
      Please upload an image for the event. 
      <div><%= form.file_field :main_image, id: :image %></div>
    </div>

    <div class="actions">
      <%= form.submit "Submit", class: "btn btn-primary btn-lg event-button" %>
    </div>
  </div>
<% end %>