<div class="card card-main">
  <div class="row headings">
    <div class="col-9">
      <h1>DASHBOARD</h1>
      <p>Welcome <%= current_user.name %></p>
    </div>
    <div class="col-3 text-right">
      <p>Your Events: <%= current_user.events.count %></p>
      <p>Your Rsvps: <%= current_user.rsvps.count %></p>
      <p>Your Favorites: <%= current_user.favorites.count %></p>
    </div>
  </div>
  <hr>

  <div>
    <div class="row headings">
      <div class="col-9 text-left">
        <h3>MY CREATED EVENTS</h3>
      </div>
      <div class="col-3 text-right">
        <p><%= link_to "CREATE AN EVENT", new_event_path %></p>
      </div>
    </div>
    <hr>

    <% if @events.empty? %>
      <div class="indentions">
        <p>You haven't created any events.</p>
      </div>
    <% else %>
      <%= render partial: 'shared/cards', locals: {events: @events, button_partial: 'shared/buttons'} %>
    <% end %>
  </div>

  <div>
    <hr>
    <div class="headings">  
      <h3>MY RSVPS</h3>
    </div>
    <hr>

    <% if @rsvps.empty? %>
      <div class="indentions">
        <p>You have no RSVPs.</p>
      </div>
    <% else %>
      <%= render partial: 'shared/rsvp_cards', locals: {rsvps: @rsvps} %>
    <% end %>
  </div>

  <div>
    <hr>
    <div class="headings">  
      <h3>MY FAVORITES</h3>
    </div>
    <hr>

    <% if @favorites.empty? %>
      <div class="indentions">
        <p>You have no favorites.</p>
      </div>
    <% else %>
      <%= render partial: 'shared/favorite_cards', locals: {favorites: @favorites} %>
    <% end %>
  </div>
</div>