<!DOCTYPE html>
<html>
  <head>
    <title>Events Calendar</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
  </head>
    <div id="holder">
      <header>
          <%= render 'shared/application_nav' %>
      </header>

      <body>

        <%= js add_gritter(flash[:notice], title: "", sticky: false) %>
        <%= js add_gritter(flash[:alert], title: "", sticky: false) %>

        <div class="container">
          <%= yield %>
        </div>

      </body>

      <footer>
        <%= render 'shared/application_footer' %>
      </footer>
    </div>

</html>